/*
LAYOUT: Two-Column (Left)
DESCRIPTION: Two-column fluid layout with one sidebars left of content
*/
body
{
	display: block;
	margin: 0;
	padding: 0;
	background-color: #FFF;
	color: #000;
}

div#wrapper
{
	width: auto;
}

div#header
{
	width: 100%;
	text-align: left;
}

div#main
{
	width: 1100px;
	margin: 0 auto 0 auto;
}

div#container 
{	
	float: right;
	width:	100%;
	margin: 0 0 0 -320px;
}

div#content 
{
	margin: 0 0 0 320px;

}

div.sidebar 
{
	float: left;
	overflow:	hidden;
	width:	290px;
}

div#secondary 
{
	clear:left;
}

div#footer 
{
	clear:both;
}